# Backend API
VITE_API_BASE_URL=http://localhost:3000/api

# Google OAuth2
VITE_GOOGLE_CLIENT_ID=tu_google_client_id_aqui.apps.googleusercontent.com

# Unsplash API para imágenes dinámicas de zonas
# Obtener en: https://unsplash.com/developers
VITE_UNSPLASH_ACCESS_KEY=tu_unsplash_access_key_aqui

# Github OAuth2
VITE_GITHUB_CLIENT_ID=tu_github_client_id_aqui
